@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

*{
    font-family: Noto Sans JP;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

h1 h2{
    font-weight: 700;
}

p{
    font-weight: 400;
}

.header{
    width: 100%;
    height: 20%;
    top: 0;
    left: 0;
    padding: 30px 10%;
}

.header ul{
    list-style: none;
    display: flex;
    float: right;
}

.header li{
    display: inline;
    padding: 0px 20px;
}

.header a{
    text-decoration: none;
    color: #262628;
}

#principal{
    width: 100%;
    display: flex;
    padding: 50px;
}

#principal .info{
    padding-top: 8rem;
}

#principal h1{
    color: #1585fd;
}

#software{
    width: 100%;
    background: linear-gradient(#195ABE, #3FA3EE);
    color: #fff;
}

#software .info{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}

#software .app{
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 50px;
    padding-bottom: 2rem;
}

#software .app img{
    width: 120px;
}

.app .sftware{
    width: 200px;
    display: flex;
    flex-direction: column;
}

#comparacao{
    width: 100%;
    display: flex;
    padding: 50px;
}

#comparacao .info{
    padding-top: 1.5rem;
    padding-left: 2rem;
}

#comparacao img{
    width: 40%;
}

#comparacao h1{
    color: #1585fd;
}

#area{
    width: 100%;
    background: linear-gradient(#195ABE, #3FA3EE);
}

#area .info{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    color: #fff;
}

#section{
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.setor{
    width: 350px;
    height: 170px;
    background: #fff;
    border-radius: 25px;
    display: flex;
}

.setor img{
    width: 110px;
    height: 110px;
    padding: 1rem 1rem;
}

#section .setor .about{
    padding-top: 1rem;
    padding-right: 0.5rem;
}

.about h2{
    color: #1585fd;
}

.about p{
    color: #808080;
}

#footer{
    width: 100%;
    padding: 45px 15%;
    background: #281e65;
    color: #fff;
    display: flex;
}

#footer div{
    width: 450px;
}

#footer div h3{
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.col-1 a{
    display: block;
    text-decoration: none;
    color: #fff;
    margin-bottom: 10px;
}

.column-1 a{
    display: block;
    text-decoration: none;
    color: #fff;
    margin-bottom: 10px;
}

.col-2{
    padding-left: 5%;
}

form input{
    width: 350px;
    height: 45px;
    border-radius: 15px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 30px;
    outline: none;
    border: none;
}

form button{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    margin-bottom: 18px;
    font-size: 15px;
}