@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #293340;
}

.wrapper{
    width: 100%;
    height: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
    position: absolute;
}

.header{
    width: 100%;
    height: 15%;
    top: 0;
    left: 0;
    background-color: transparent;
}

.menu{
    list-style: none;
    padding: 0;
    float: right;
    position: relative;
}

.menu li{
    font-family: 'Noto Sans JP', sans-serif;
    display: inline-block;
    padding: 2.5rem;
}

.menu li a{
    text-decoration: none;
    color: #fff;
}

.main{
    width: 100%;
    height: 85%;
    background-color: transparent;
    position: relative;
}

.main-text{
    width: 40%;
    display: inline-block;
    padding-top: 10rem;
    padding-left: 5rem;
}

.main-text h1{
    font-family: 'Noto Sans JP';
    font-weight: 700;
    color: #1585fd;
}

.main-text p{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    padding-top: 0.5rem;
    color: #fff;
}

.main-image{
    display: inline;
    float: right;
    width: 8.5%;
}

#softwares{
    width: 100%;
    height: 80%;
    background-color: transparent;
    position: relative;
}

#main-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    padding-top: 1.5rem;
}

#main-text h1{
    font-family: 'Noto Sans JP';
    font-weight: 700;
    color: #1585fd;
}

#main-text p{
    font-family: 'Noto Sans JP';
    font-weight: 400;
    color: #fff;
}

.app{
    display: flex;
    justify-content: space-evenly;
    padding-top: 6.5rem;
}

.app h2{
    font-family: 'Noto Sans JP';
    font-weight: 700;
    color: #0F63BD;
}

.app p{
    font-family: 'Noto Sans JP';
    font-weight: 400;
    color: #fff;
}

.app-01{
    width: 15%;
}

.app-02{
    width: 15%;
}

.app-03{
    width: 15%;
}

.app-01 h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.app-02 h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.app-03 h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.square-01{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url(../imgs/apps/blender.png);
    background-repeat: no-repeat;
    background-size: 138px 138px;
    align-items: center;
    align-self: center;
    justify-content: center;
    background-color: #dcdcdc;
}

.square-02{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url(../imgs/apps/autodesk-maya.png);
    background-repeat: no-repeat;
    background-size: 150px 150px;
    align-items: center;
    align-self: center;
    justify-content: center;
    background-color: #dcdcdc;
}

.square-03{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url(../imgs/apps/solidworks.png);
    background-repeat: no-repeat;
    background-size: 148px 148px;
    align-items: center;
    align-self: center;
    justify-content: center;
    background-color: #dcdcdc;
}

#comparacao{
    width: 100%;
    height: 80%;
    background-color: transparent;
    position: relative;
}

.example-text{
    width: 40%;
    padding-top: 6rem;
    float: right;
    margin-right: 5%;
    word-break: break-all;
}

.example-text h1{
    font-family: 'Noto Sans JP';
    font-weight: 700;
    color: #1585fd;
}

.example-text p{
    font-family: 'Noto Sans JP';
    font-weight: 400;
    padding-top: 0.5rem;
    color: #fff;
}

.example-image{
    display: inline;
    width: 10%;
}

#areas{
    width: 100%;
    height: 80%;
    background-color: transparent;
    position: relative;
}

#areas h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    padding-top: 1.5rem;
    margin-bottom: 1.5%;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    color: #1585fd;
}

.quadrado-01{
    width: 25%;
    height: 35%;
    border-radius: 18px;
    background-color: lightblue;
    display: inline-block;
    margin-left: 25%;
}

.quadrado-02{
    width: 25%;
    height: 35%;
    border-radius: 18px;
    background-color: #c24d4d;
    display: inline-block;
}

.footer{
    width: 100%;
    height: 15%;
    background-color: #d3d3d3;
    bottom: 0;
    left: 0;
    position: relative;
}