@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

body{
    background-color: #fff;
}

.wrapper{
    width: 100%;
    height: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
    position: absolute;
}

.header{
    width: 100%;
    height: 15%;
    top: 0;
    left: 0;
    background-color: transparent;
}

.menu{
    list-style: none;
    padding: 0;
    float: right;
    position: relative;
}

.menu li{
    display: inline-block;
    padding: 2.5rem;
}

.menu li a{
    text-decoration: none;
    color: #262628;
}

.main{
    width: 100%;
    height: 85%;
    background-color: transparent;
    position: relative;
}

.main-text{
    width: 40%;
    display: inline-block;
    padding-top: 10rem;
    padding-left: 5rem;
}

.main-text h1{
    font-weight: 700;
    color: #1585fd;
}

.main-text p{
    font-weight: 400;
    padding-top: 0.5rem;
    color: #262628;
}

.main-image{
    display: inline;
    float: right;
    width: 9%;
}

#softwares{
    width: 100%;
    height: 80%;
    background: linear-gradient(#195ABE, #3FA3EE);
    position: relative;
}

#main-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    padding-top: 1.5rem;
}

#main-text h1{
    font-weight: 700;
    color: #fff;
}

#main-text p{
    font-weight: 400;
    color: rgb(240, 240, 240);
}

.app{
    display: flex;
    justify-content: space-evenly;
    padding-top: 5.5rem;
}

.app h2{
    font-weight: 700;
    color: #fff;
}

.app p{
    font-weight: 400;
    color: rgb(240, 240, 240);
}

.app-01{
    width: 15%;
}

.app-02{
    width: 15%;
}

.app-03{
    width: 15%;
}

.app-01 h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.app-02 h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.app-03 h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.square-01{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url(../imgs/apps/blender.png);
    background-repeat: no-repeat;
    background-size: 138px 138px;
    align-items: center;
    align-self: center;
    justify-content: center;
    background-color: #fff;
}

.square-02{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url(../imgs/apps/autodesk-maya.png);
    background-repeat: no-repeat;
    background-size: 150px 150px;
    align-items: center;
    align-self: center;
    justify-content: center;
    background-color: #fff;
}

.square-03{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url(../imgs/apps/solidworks.png);
    background-repeat: no-repeat;
    background-size: 148px 148px;
    align-items: center;
    align-self: center;
    justify-content: center;
    background-color: #fff;
}

#comparacao{
    width: 100%;
    height: 80%;
    background-color: transparent;
    position: relative;
}

.example-text{
    width: 40%;
    padding-top: 6rem;
    float: right;
    margin-right: 5%;
    /*word-break: break-all;*/
}

.example-text h1{
    font-weight: 700;
    color: #1585fd;
}

.example-text p{
    font-weight: 400;
    padding-top: 0.5rem;
    color: #262628;
}

.example-image{
    display: inline;
    width: 10%;
}

.example-image img{
    width: 650px;
    padding-left: 2rem;
    padding-top: 5rem;
}

#areas{
    width: 100%;
    height: 80%;
    background: linear-gradient(#195ABE, #3FA3EE);
    position: relative;
}

#areas h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    padding-top: 1.5rem;
    margin-bottom: 1.5%;
    font-weight: 700;
    color: #fff;
}

.quadrado-01{
    width: 25%;
    height: 35%;
    border-radius: 18px;
    background-color: #fff;
    display: inline-block;
    margin-left: 25%;
}

.quadrado-02{
    width: 25%;
    height: 35%;
    border-radius: 18px;
    background-color: #fff;
    display: inline-block;
}

.image-01{
    width: 90px;
    height: 90px;
    float: left;
    margin-top: 35px;
    margin-left: 15px;
    background-image: url(../imgs/icon/cinema.png);
    background-repeat: no-repeat;
    background-size: 75px 75px;
}

.image-02{
    width: 90px;
    height: 90px;
    float: left;
    margin-top: 35px;
    margin-left: 15px;
    background-image: url(../imgs/icon/jogo-arcade.png);
    background-repeat: no-repeat;
    background-size: 75px 75px;
}

.image-03{
    width: 90px;
    height: 90px;
    float: left;
    margin-top: 35px;
    margin-left: 15px;
    background-image: url(../imgs/icon/projeto.png);
    background-repeat: no-repeat;
    background-size: 75px 75px;
}

.image-04{
    width: 90px;
    height: 90px;
    float: left;
    margin-top: 35px;
    margin-left: 15px;
    background-image: url(../imgs/icon/saude.png);
    background-repeat: no-repeat;
    background-size: 75px 75px;
}

.area-02{
    padding-top: 0.25rem;
}

.area-texto{
    padding-top: 1rem;
    padding-left: 0.5rem;
    padding-right: 1rem;
}

.area-texto h2{
    font-weight: 700;
    color: #1585fd;
}

.area-texto p{
    font-size: 14px;
    font-weight: 400;
    color: #808080;
}

.footer{
    width: 100%;
    padding: 45px 15%;
    background: #281e65;
    color: #fff;
    display: flex;
    position: relative;
}

.footer div{
    text-align: center;
}

.footer div h3{
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.column-1 a{
    display: block;
    text-decoration: none;
    color: #fff;
    margin-bottom: 10px;
}

.column-2{
    padding-left: 5%;
}

form input{
    width: 350px;
    height: 45px;
    border-radius: 15px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}

form button{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
}